header {
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--header-background-color);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 3px 3px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding: 0;
    margin: 0;

    font-size: var(--header-heading-font-size);
    color: var(--header-text-color);
}

nav {
    display: flex;
    gap: 20px;
}

nav button {
    color: var(--header-text-color);

    background-color: rgba(0, 0, 0, 0);
    border: none;

    font-weight: bold;
    font-size: var(--header-nav-font-size);
    font-family: inherit;

    cursor: pointer;
}

nav button:hover {
    color: lightgray;
}