.restaurant-description {
    text-align: center;
    font-size: var(--p-text-size);
    font-weight: bold;

    line-height: 30px;

    padding: 0 25%;
}

.restaurant-slogan {
    font-weight: normal;
    font-size: var(--p-text-size);
    letter-spacing: 0.75px;
}

.cta-form {
    width: 50%;
    display: flex;

    justify-content: space-around;
}

.cta-button {
    width: clamp(150px, 30%, 200px);
    height: 60px;

    color: white;
    font-size: calc(var(--p-text-size) - 7px);
    font-weight: bold;

    cursor: pointer;

    background-color: #A94442;
    border: 2px solid #CFA45C;
    border-radius: 16px;

}

.cta-button:hover {
    color: black;
    background-color: darksalmon;
}